@font-face {
    font-family: 'Druk Wide';
    src: url('/Abuse-project/fonts/Druk-WideMedium.eot');
    src: url('/Abuse-project/fonts/Druk-WideMedium.eot?#iefix') format('embedded-opentype'),
        url('/Abuse-project/fonts/Druk-WideMedium.woff2') format('woff2'),
        url('/Abuse-project/fonts/Druk-WideMedium.woff') format('woff'),
        url('/Abuse-project/fonts/Druk-WideMedium.ttf') format('truetype'),
        url('/Abuse-project/fonts/Druk-WideMedium.svg#Druk-WideMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/Abuse-project/fonts/Gilroy-Light.eot');
    src: url('/Abuse-project/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('/Abuse-project/fonts/Gilroy-Light.woff2') format('woff2'),
        url('/Abuse-project/fonts/Gilroy-Light.woff') format('woff'),
        url('/Abuse-project/fonts/Gilroy-Light.ttf') format('truetype'),
        url('/Abuse-project/fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
